# Executables
lab4_1
lab4_2
lab4_3
lab4_4
lab4_5
lab4_6
lab4_7
lab4_8
lab4_9
lab4_10

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Emacs temp files
*~

# Mac files (normally invisible)
.DS_Store

# VSCode folder
.vscode